.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.boxA {
  height: 5%;
  width: 10%;
  background-color: blue;
  border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.boxA a {
  text-decoration: none;
  color: white;
}

.container1 {
  display: flex; 
}

.boxC, .boxD {
  width: 10%; 
  height: 5%;
}

.container1 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px; 
}

@media screen and (max-width: 768px) {
  .container1 a {
    font-size: 10px; 
  }
}

.boxD {
  background-color: lightgray;
      border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em; 
      display: flex;
  justify-content: center; 
  align-items: center;
}

.boxD a {
      border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  text-decoration: none;
  color: black;
}

.homeBox {
    width: 100%;
    height:120%;

   
    background-color: orangered;  
    
    
}


.Overlay {
    background-color: rgba(255, 255, 255, 0.9999);
    padding: 20px;
    margin: 20px auto;
    height: 70%;
    max-width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px; 
}

.introduction {
    max-width: 100%;
    padding-right: 7%;
}

.introduction p {
    font-size: 30px;
}

.logo {
    width: 80%; 
    height: auto; 
}

.homeTab {
  height: 5%;
  width: 10%;
  background-color: orangered;
    border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.homeTab a {
  text-decoration: none;
  color: white;
}



.pulsating-image {
     position: absolute; 
    left: 24.5%;
    top: -17%; 
    transform: scale(0.40); 
       opacity: 0.6; 
    animation: pulseAnimation 2s infinite; 
}

@keyframes pulseAnimation {
    0% { transform: scale(0.40); } 
    50% { transform: scale(0.55); }
    100% { transform: scale(0.40); }
}

@media (max-width: 1200px) {
    .pulsating-image {
        display: none; 
    }
}

.projectsTab {
  height: 5%;
  width: 10%;
 background-color: greenyellow;
  border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.projectsTab a {
  text-decoration: none;
  color: white;
}

.projectsBox {
    width: 100%;
    height:auto;

    background-color: greenyellow;
}


.aboutTab {
  height: 5%;
  width: 10%;
 background-color: darkblue;
  border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.aboutTab a {
  text-decoration: none;
  color: white;
}

.aboutBox h6,
.aboutBox p {
    color: white;
}
.aboutBox {
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px;
   
    background-color: darkblue;
    padding-bottom: 5%;
}

.aboutBox img {
    width: 30%; 
    height: auto; 
    margin-right: 5%; 
}

.aboutBox div {
    flex: 1; 
}

.aboutBox p {
    max-height: 60%; 
    overflow-y: auto; 
    font-size: 16px; 
}

@media screen and (max-width: 768px) {
    .aboutBox p {
        font-size: 14px; 
    }
}

.resumeTab {
  height: 5%;
  width: 10%;
 background-color: forestgreen;
  border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}




.resumeBox {
    width: 100%; 

    height: auto; 
    background-color: forestgreen;
    padding-bottom: 5%;
     padding-top: 5%;

}


.styleguideTab {
    height: 5%;
    width: 10%;
    background-color: gold;
    border-top-left-radius: 0.5em; 
    border-top-right-radius: 0.5em; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.styleguideTab a {
    text-decoration: none;
    color: white;
}

.styleguideBox {
    width: 100%;
    height: auto;
   
    background-color: gold;
}

.styleguideBox p,
.styleguideBox h2 {
    max-height: 60%; 
    overflow-y: auto; 
    font-size: 16px; 
}

@media screen and (max-width: 768px) {
    .styleguideBox p,
    .styleguideBox h2 {
        font-size: 14px; 
    }
}

.contactTab {
  height: 10%;
  width: 10%;
 background-color: skyblue;
  border-top-left-radius: 0.5em; 
  border-top-right-radius: 0.5em; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.contactTab a {
  text-decoration: none;
  color: white;
}

.contactBox {
    width: 100%;
    height:60%;
    background-color: skyblue;
}

.boxB {
    width: 100%;
    height:100%;
    border-bottom-left-radius: 0.5em; 
  border-bottom-right-radius: 0.5em; 
    background-color: blue;
}

.space{
 font-size: 0px;
    margin: 0;
}

@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url(../fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(../fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url(../fonts/PPNeueMontreal-Bold.otf);
}

body {
    background-color: whitesmoke;
    font-family: 'PPNeueMontreal-Book', monospace;
    overflow-x: hidden;
}

img {
    max-width: 50vw; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

h1 {
    margin: 0;
    padding-left: 5rem;
    padding-top: 5rem;
    color: black;
    font-family: 'RobotoMono', serif;
    font-size: 1.7em;
}

h2 {
    color: black;
    padding-left: 2rem;
    font-size: 1.5em;
    font-family: 'RobotoMono', serif;
}

h3 {
    color: black;
    font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 1em;
    padding-left: 2rem;
}

h4{
    color:black;
    font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 0.8em;
    padding-left: 2rem;
}

h5{
    color:black;
    font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 0.5em;
    padding-left: 2rem;
}

h6{
    color: #ff496c;
    font-family: 'RobotoMono', serif;
    font-size: 1em;
    padding-left: 2rem;
}

p {
    margin: 0;
    padding-top: 0.3rem;
    font-family: 'PPNeueMontreal-Book', sans-serif;
    width: 50vw;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.text-container {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2rem;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

.nav {
    font-family: 'PPNeueMontreal-Book';
}

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    border-radius: 0.25em;
}

.button-nav:hover,
.button-nav:focus {
    color: #CEFF00;
}

.in-text-link {
    color: #000;
}

.in-text-link:hover {
    color: #CEFF00;
    text-decoration: none;
}

.in-text-link:focus {
    outline: #CEFF00;
    box-shadow: 0 0 0 3px #CEFF00;
}

a img:hover,
a img:focus {
    opacity: 60%;
}

.colour-red{
    color:  #ff496c;
}

.colour-yellow {
    color:#CEFF00;
}

.colour-black{
    color: black;
}

.colour-grey {
    color: grey;
}

.art-direction-images {
    display: flex;
}

.art-direction-img {
    width: 20em;
    height: 100%;
}



footer {
    background-color: #f0f0f0;
    padding: 2%;
    width: 100%; 
    box-sizing: border-box; 
}

.container1 a:hover {
    color: red; 
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    width: 100%; 
}

.footer-content p {
    font-size: 16px; 
}

@media screen and (max-width: 768px) {
    .footer-content p {
        font-size: 14px; 
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.additional-info {
    display: flex;
    flex-direction: column;
}



