

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;

}

.boxA {
  height: 5%;
  width: 10%;
  background-color: blue;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.boxA a {
  text-decoration: none;
  color: white;
}



.container1 {
  display: flex; /* Use flexbox */
}

.boxC, .boxD {
  width: 10%; /* Each box takes up 10% of the container's width */
  height: 5%; /* Each box takes up 5% of the container's height */
}


.boxD {
  background-color: lightgray;
      border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
      display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.boxD a {
  text-decoration: none;
  color: black;
}

.homeBox {
    width: 100%;
    height:120%;
    border-bottom-left-radius: 0.5em; /* Top left corner rounded */
  border-bottom-right-radius: 0.5em; /* Top right corner rounded */
/*   flex:4;*/
    background-color: orangered;  
    
    
}

.homeTab {
  height: 5%;
  width: 10%;
  background-color: orangered;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.homeTab a {
  text-decoration: none;
  color: white;
}


.projectsTab {
  height: 5%;
  width: 10%;
 background-color: greenyellow;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.projectsTab a {
  text-decoration: none;
  color: white;
}

.projectsBox {
    width: 100%;
    height:auto;
    border-bottom-left-radius: 0.5em; /* Top left corner rounded */
  border-bottom-right-radius: 0.5em; /* Top right corner rounded */
/*   flex:4;*/
    background-color: greenyellow;
}


.aboutTab {
  height: 5%;
  width: 10%;
 background-color: lightcyan;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.aboutTab a {
  text-decoration: none;
  color: white;
}

.aboutBox {
    width: 100%;
    height:100%;
    border-bottom-left-radius: 0.5em; /* Top left corner rounded */
  border-bottom-right-radius: 0.5em; /* Top right corner rounded */
/*   flex:4;*/
    background-color: lightcyan;
}


.resumeTab {
  height: 5%;
  width: 10%;
 background-color: forestgreen;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.resumeTab a {
  text-decoration: none;
  color: white;
}

.resumeBox {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    border-radius: 0.5em; /* Rounded corners */
    background-color: forestgreen;

}


.styleguideTab {
  height: 5%;
  width: 10%;
 background-color: yellow;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.styleguideTab a {
  text-decoration: none;
  color: white;
}

.styleguideBox {
    width: 100%;
    height:100%;
    border-bottom-left-radius: 0.5em; /* Top left corner rounded */
  border-bottom-right-radius: 0.5em; /* Top right corner rounded */
/*   flex:4;*/
    background-color: yellow;
}


.contactTab {
  height: 5%;
  width: 10%;
 background-color: skyblue;
  border-top-left-radius: 0.5em; /* Top left corner rounded */
  border-top-right-radius: 0.5em; /* Top right corner rounded */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.contactTab a {
  text-decoration: none;
  color: white;
}

.contactBox {
    width: 100%;
    height:100%;
    border-bottom-left-radius: 0.5em; /* Top left corner rounded */
  border-bottom-right-radius: 0.5em; /* Top right corner rounded */
/*   flex:4;*/
    background-color: skyblue;
}





.introduction {
    text-align: center;
    padding-right: 40%
}



.boxB {
    width: 100%;
    height:100%;
    border-bottom-left-radius: 0.5em; /* Top left corner rounded */
  border-bottom-right-radius: 0.5em; /* Top right corner rounded */
/*   flex:4;*/
    background-color: blue;
}



.Overlay {
    background-color: rgba(255, 255, 255, 0.9999);
    padding: 20px;
    margin: 20px auto; 
    height: 60%;
    max-width: 90%; 
    
     border-radius: 10px; 
}

.space{
 font-size: 1px;
    margin: 0;
}



.logo-container {
    margin-bottom: 20px; 
}

.logo {
    width: 50%; 
    height: auto; 
}









@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url(../fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(../fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'PPNeueMontreal-Bold';
    src: url(../fonts/PPNeueMontreal-Bold.otf);
}

body {
    background-color: whitesmoke;

    font-family: 'PPNeueMontreal-Book', monospace;
    /*Changed default font to Monaco - monospace 
      Learned from: https://www.w3schools.com/css/css_font.asp*/

    overflow-x: hidden;
}

img {
    max-width: 50vw; /* Sets the maximum width of the image to 50% of the viewport width */
    height: auto; /* Allows the height to adjust automatically to maintain aspect ratio */
    display: block; /* Ensures that the image behaves as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
}

h1 {
        margin: 0;
    padding-left: 5rem;
        padding-top: 5rem;
    color: black;
    font-family: 'RobotoMono', serif;
    font-size: 1.7em;
}

h2 {
    color: black;
    font-size: 1.5em;
    font-family: 'RobotoMono', serif;
    
}

h3 {
    color: black;
    font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 1em;
}

h4{
     color:black;
             font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 0.8em;
}

h5{
     color:black;
             font-family: 'PPNeueMontreal-Bold', serif;
    font-size: 0.5em;
}

h6{
     color: #ff496c;
         font-family: 'RobotoMono', serif;
    font-size: 1em;
}

p {
    margin: 0;
    padding-left: 5rem;
        padding-top: 5rem;
    font-family: 'PPNeueMontreal-Book', sans-serif;

    width: 50vw;
}

/* DEFAULT STYLINGS */

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

.nav {
    font-family: 'PPNeueMontreal-Book';
}

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    border-radius: 0.25em;
}

.button-nav:hover,
.button-nav:focus {
    color: #CEFF00;
   
}



.in-text-link {
    color: #000;
}

.in-text-link:hover {
    color: #CEFF00;
    text-decoration: none;
    /*Added hover state to in-text link      
      LEARNED FROM: https://zellwk.com/blog/style-hover-focus-active-states/
    */
}

.in-text-link:focus {
    outline: #CEFF00;
    box-shadow: 0 0 0 3px #CEFF00;
    /*added focus state to in-text link
      LEARNED FROM https://zellwk.com/blog/style-hover-focus-active-states/
    */
}


a img:hover,
a img:focus {
    opacity: 60%;
}





.colour-red{
    color:  #ff496c;
}

.colour-yellow {
    color:#CEFF00;
}

.colour-black{
    color: black;
}

.colour-grey {
    color: grey;
}

.art-direction-images {
    display: flex;
}

.art-direction-img {
    width: 20em;
    height: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}



/* NAVIGATION BAR */

nav {
    background-color: lightgray;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav a {
    color: black;
 opacity: 90%;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.left-nav a:focus {
    color: #CEFF00;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav a {
    color: black;
 opacity: 90%;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.right-nav a:hover {
   color: #CEFF00;
}

.cart-icon {
    width: 26px; /* Set the width and height of the cart icon */
    height: 24px;
    background-image: url(../images/bag.png);
    background-size: cover;
}

.cart-icon:hover, .cart-icon:focus {
    opacity: 50%;
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 0 1rem; /* Adjusted padding for smaller screens */
    }

    .left-nav,
    .right-nav {
        margin: 0; /* Reset margin */
    }
  
    .right-nav a:nth-child(1) {
        white-space: nowrap; /* Ensure "Style Guide" stays on one line */
    }
}

